<%- include('./partials/header-quiz'); %>

    <main class="container-sm px-3 pb-3" id="character">

        <!-- Title and intro -->
        <section class="position-relative mb-3">
            <a href="/lotr/favorites" title="Ga terug naar alle favorieten">
                <i class="bi bi-arrow-left fs-1"></i>
            </a>
            <a href="<%= character.wikiUrl %>" target="_blank" title="Ga naar de fandom pagina van <%= character.name %>">
                <h1 class="mt-3">
                    <%= character.name %>
                </h1>
            </a>
            <p class="mb-5">Hieronder vind je jouw favoriete quotes van <%= character.name %>. Klik op de naam van het personage om de fanpagina te bezoeken. Verwijder quotes uit je favorietenlijst door op het vuilbakje te klikken.</p>
        </section>

        <!-- Table with favorite quotes of a specific character -->
        <section class="table-custom text-start p-0 rounded border overflow-hidden">

            <% for (let i=0; i < characterQuotes.length; i++) { %>
                
            <!-- Favorite item -->
            <article class="d-flex p-3 border-bottom">
                <div class="table-id p-2 fw-bold">#<%= i+1 %></div>
                <div class="table-quote p-2">
                    <%= characterQuotes[i].dialog %>
                </div>
                <div class="table-delete-button p-2">
                    <button type="button" class="btn btn-outline-primary" title="Verwijder uit je favorietenlijst"
                        data-bs-toggle="modal" data-bs-target="#deleteFavorite<%= i %>">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
                
                <!-- Confirm delete window -->
                <div class="modal fade" id="deleteFavorite<%= i %>" tabindex="-1" aria-labelledby="deleteFavorite<%= i %>"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title fs-5" id="deleteFavorite<%= i %>">Weet je zeker dat je deze
                                    quote uit je favorieten wil verwijderen?
                                </h2>
                            </div>
                            <div class="modal-body">
                                <p>
                                    <%= characterQuotes[i].dialog %>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    aria-label="Close">Behouden</button>
                                <form>
                                    <button class="btn btn-primary" formmethod="POST"
                                        formaction="/lotr/favorites/character/<%= character.character_id %>/<%= characterQuotes[i].quote_id %>/delete">Verwijderen</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <% } %>

            <!-- Arrow to top -->
            <a href="#top" class="scroll-to-top"><i class="bi bi-arrow-up-square-fill"></i></a>
            
        </section>
    </main>

    <%- include('./partials/footer-quiz'); %>