<%- include('./partials/header-quiz'); %>

    <main class="container-sm p-3" id="favorites">
        <!-- Title and intro -->
        <section class="position-relative mb-5">
            <h1>Favorieten</h1>
            <p>Hieronder vind je een lijst met jouw favoriete quotes. Klik op een naam om uitsluitend quotes van een
                bepaald personage te zien. Verwijder quotes uit jouw favorietenlijst door op het vuilbakje te klikken.
                Download een tekstbestand van deze lijst met de downloadknop.</p>
            <form action="/lotr/favorites/download" METHOD="GET">
                <button type="submit" class="btn btn-primary position-absolute top-0 end-0 text"
                    title="Download je favorietenlijst"><i class="bi bi-download"></i>&nbsp;&nbsp;Download</button>
            </form>
        </section>

        <% if (favorites.length===0) { %>
            <!-- No quotes in favorites -->
            <section>
                <p><strong>Nog geen quotes in jouw favorieten.</strong> Gebruik de favorieten-knop tijdens de quiz om een
                    quote toe te voegen.</p>
            </section>
            <% } else { %>
                <!-- Table with favorite quotes -->
                <section class="table-custom text-start p-0 rounded border overflow-hidden">

                    <% favorites.forEach((fav,index)=> { %>

                        <!-- Favorite row -->
                        <article class="d-flex p-3 border-bottom">
                            <div class="table-id p-2 fw-bold">
                                #<%= index+1 %>
                            </div>
                            <div class="table-name p-2">
                                <a href="/lotr/favorites/character/<%= fav.character.character_id %>"
                                    title="Zie enkel quotes van <%= fav.character.name %>">
                                    <%= fav.character.name %>
                                </a>
                            </div>
                            <% const characterCount=favorites.filter(f=> f.character.character_id ===
                                fav.character.character_id).length %>
                                <div class="table-count p-2">
                                    <%= characterCount %>
                                        <%= (characterCount===1) ? "quote" : "quotes" %>
                                </div>
                                <div class="table-quote p-2">
                                    <%= fav.dialog %>
                                </div>
                                <div class="table-delete-button p-2">
                                    <button type="button" class="btn btn-outline-primary"
                                        title="Verwijder uit je favorietenlijst" data-bs-toggle="modal"
                                        data-bs-target="#deleteFavorite<%= index %>">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                                <!-- Confirm delete window -->
                                <div class="modal fade" id="deleteFavorite<%= index %>" tabindex="-1"
                                    aria-labelledby="deleteFavorite<%= index %>" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="modal-title fs-5" id="deleteFavorite<%= index %>">
                                                    Weet je zeker dat je deze quote uit jouw favorieten wil verwijderen?
                                                </h2>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    <%= fav.dialog %>
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                    aria-label="Close">Behouden</button>
                                                <form action="/lotr/favorites/character/<%= fav.quote_id %>/delete" method="POST">
                                                    <button type="submit" class="btn btn-primary">Verwijderen</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </article>

                        <% }); %>

                            <a href="#top" class="scroll-to-top"><i class="bi bi-arrow-up-square-fill"></i></a>

                </section>
                <% } %>
    </main>

    <%- include('./partials/footer-quiz'); %>