<%- include('./partials/header-quiz'); %>

    <main class="question-container container-md p-3">
        <section class="text-center mb-4">
            <h1>Quiz: <%= typeOfQuizTitle %></h1>
        </section>

        <section class="card" id="quiz-question-card">
            <h2 class="card-header text-center fs-4">vraag <%= questionId+1 %></h2>
            <div class="card-body text-center">

                <!-- Quote -->
                <p class="blockquote lotr-quote mx-sm-3 my-5 fw-bold">
                    <q>
                        <%= question.dialog %>
                    </q>
                </p>

                <!-- Form Questions -->
                <form id="radio-btn-group" class="row justify-content-center px-3" action="/quiz/<%= typeOfQuiz %>/question/<%= questionId %>" method="POST">

                    <!-- Thumbs-up & Thumbs-down buttons -->
                    <div class="d-sm-block pb-3" role="group">
                        <input type="checkbox" class="btn-check" name="btnThumbs" id="btnradioThumbsUp"
                            autocomplete="off" onclick="onlyOneThumb(this)">
                        <label class="btn btn-outline-success" for="btnradioThumbsUp"
                            title="Voeg toe aan jouw favorieten"><i class="bi bi-hand-thumbs-up"></i></label>

                        <input type="checkbox" class="btn-check" name="btnThumbs" id="btnradioThumbsDown"
                            autocomplete="off" onclick="onlyOneThumb(this)" data-bs-toggle="collapse"
                            data-bs-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                        <label class="btn btn-outline-danger" for="btnradioThumbsDown"
                            title="Voeg toe aan jouw blacklist"><i class="bi bi-hand-thumbs-down"></i></label>
                    </div>
                    <div class="collapse p-0 m-0" id="collapseComment">
                        <div class="col-sm-6 px-2 mx-auto">
                            <label for="blacklistComment" class="form-label pt-2">Reden voor blacklisting?</label>
                            <textarea class="form-control" id="blacklistComment" rows="3"
                                placeholder="Ik blacklist deze quote omdat..."></textarea>
                        </div>
                    </div>

                    <!-- randomizes order of character options -->
                    <% let characterOptions = [...question.wrong_characters,question.correct_character].sort(() => Math.random() - 0.5); %>

                    <!-- First row: 3 Characters -->
                    <p class="pb-3">Van welk personage komt deze quote? </p>
                    <div class="d-grid gap-2 col-6 mx-auto" role="group">
                        <input type="radio" class="btn-check" name="btnradioChar" id="btnradio1" autocomplete="off" required value=<%= characterOptions[0].character_id %> >
                        <label class="btn btn-outline-primary" for="btnradio1"><%= characterOptions[0].name %></label>

                        <input type="radio" class="btn-check" name="btnradioChar" id="btnradio2" autocomplete="off" value=<%= characterOptions[1].character_id %> >
                        <label class="btn btn-outline-primary" for="btnradio2"><%= characterOptions[1].name %></label>

                        <input type="radio" class="btn-check" name="btnradioChar" id="btnradio3" autocomplete="off" value=<%= characterOptions[2].character_id %> >
                        <label class="btn btn-outline-primary" for="btnradio3"><%= characterOptions[2].name %></label>
                    </div>

                    <!-- Second row: 3 movies -->
                    <p class="pb-3">Uit welke film komt deze quote? </p>
                    <div class="d-grid gap-2 col-6 mx-auto" role="group">
                        <input type="radio" class="btn-check" name="btnradioMovie" id="btnradio4" autocomplete="off" required value="5cd95395de30eff6ebccde5c" >
                        <label class="btn btn-outline-primary" for="btnradio4">The Fellowship of the Ring</label>

                        <input type="radio" class="btn-check" name="btnradioMovie" id="btnradio5" autocomplete="off" value="5cd95395de30eff6ebccde5b" >
                        <label class="btn btn-outline-primary" for="btnradio5">The Two Towers</label>

                        <input type="radio" class="btn-check" name="btnradioMovie" id="btnradio6" autocomplete="off" value="5cd95395de30eff6ebccde5d" >
                        <label class="btn btn-outline-primary" for="btnradio6">The Return of the King</label>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary col-md-3 mx-auto">Volgende vraag <i
                            class="bi bi-chevron-right"></i></button>
                </form>
            </div>
        </section>

    </main>

    <%- include('./partials/footer-quiz'); %>